.playlist-control {
	display: flex;
	flex-direction: column;
	min-height: 0;
	overflow-y: auto;
}

.song-entry {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.bb-sortable-list-handle {
	align-self: stretch;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.song-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	gap: 0.5rem;
}

::deep .list-group-item {
	padding-left: 8px;
	padding-right: 8px;
}

.playlist-control ::deep .list-group-item:has(.song-entry.active) {
	border-width: 2px;
	border-color: #cccccc;
}

.playlist-control.active ::deep .list-group-item:has(.song-entry.active) {
	border-color: var(--primary-color);
}

::deep .dropdown-toggle {
	border: none;
	color: black;
	background: none;
	border-radius: 999px;
}

::deep .dropdown-toggle:hover {
	background: #f8f9fa;
}

::deep .dropdown-toggle::after {
	content: none;
}
