.playlist-control {
	display: flex;
	flex-direction: column;
	min-height: 0;
	overflow-y: auto;
}

.song-entry {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.bb-sortable-list-handle {
	align-self: stretch;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.song-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

button.remove {
	padding: 0.75rem 1.25rem;
}
