#remote-container {
    height: calc(100dvh - 2 * var(--content-margin));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-phase-section {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1 1 0;
    gap: 1rem;
}

#night-phase {
    justify-content: flex-end;
}

.side-menu {
    display: none;
}