#remote-container {
    height: calc(100dvh - 2 * var(--content-margin));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-phase-section {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1 1 0;
    gap: 1rem;
}

#night-phase {
    justify-content: flex-end;
}

.side-menu {
    display: none;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.control-buttons button {
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    border: none;
    font-size: large;
}

.control-buttons button.primary {
    background: var(--primary-color);
    color: white;
}

.control-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}